@import './colors';

$button-padding: 8px 12px;
$button-margin: 0 0 1em 0;
$button-background: $secondary;
$button-background-alt: darken($secondary,5%);
$button-yellow-bg: $primary;
$button-yellow-bg-alt: darken($primary, 5%);
$button-color: $white;
$button-color-alt: $white;
$button-margin: 5px auto;

.btn{
  padding: $button-padding;
  // margin: $button-margin;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.05em;
  transition: all ease-in 0.2s;
  color: $button-color;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.btn-default{
  font-size: 18px;
}

.btn-lg{
  font-size: $h5-size;
}

.btn-block{
  display: block;
}

.btn-red {
  background-color: $button-background;
  border: 2px solid $button-background;

  &:hover {
    color: $button-color-alt;
    background: $button-background-alt;
    border: 2px solid $button-background;
  }
}


.btn-yellow {
  background-color: $button-yellow-bg;
  border: 2px solid $button-yellow-bg;

  &:hover {
    color: $button-color-alt;
    background: $button-yellow-bg-alt;
    border: 2px solid $button-yellow-bg-alt;
  }
}


.btn-white {
  color: $button-color-alt;
  background: $button-background-alt;
  border: 2px solid $button-background-alt;

  &:hover {
    color: $button-color;
    background: $button-background;
    border: 2px solid $button-background;
  }
}

.btn-disabled {
  background: $light;
  cursor: not-allowed;
}

.btn-black {
  background: $dark;

  &:hover{
    background: darken( $dark, 15%);
  }
}

.tag {
  display: inline-block;
  font-family: $font-base;
  font-style: normal;
  font-weight: normal;
}

.tag-white {
  background: $white;
  color: $dark;
  border: 1px solid $light;
  font-size: 12px;
  padding: 2px 10px;
  line-height: 1.3em;
}

.tag-yellow {
  background: $primary;
  color: $white;
  font-size: 14px;
  padding: 2px 5px;
  line-height: 1.3em;
}


.video-tag{
    display: inline-block;
    margin-right: 2%;
    padding-left: 3%;
    padding-right: 3%;
}

.video-post-btn{
    position: relative;
    
    &::after{
        content: '';
        display: block;
        position: absolute;
        right: 5%;
        bottom: 10%;
        width: 0;
        height: 0;
        border-style: solid;

    }
}