// colors
$main-bg-color          :  #E5E5E5;
$primary                :  #FF9E12;
$secondary              :  #E84228;
$white                  :  #FFFFFF;
$black                  :  #343434;
$dark                   :  #626262;
$light                  :  #D3D3D3;

$gradient               :  linear-gradient(90deg, $primary 17.42%, $secondary 81.01%);

