@import './colors';
@import './mixin';
// @import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Montserrat:wght@300&family=Noto+Sans+TC&display=swap');

//字型
$font-base          : 'Noto Sans TC';
$eng-font-base      : 'Montserrat';
$footer-font        : 'Comfortaa';
//顏色
$font-color-base    :  $black;

//字體大小
$h1-size                 :42px;
$h2-size                 :38px;
$h3-size                 :36px;
$h3-sm-size              :28px;
$h4-size                 :32px;
$h5-size                 :24px;
$h5-sm-size              :22px;
$h6-size                 :20px;
$font-base-size          :18px;
$hashtag-size            :16px;
$sub-text-size           :14px;

$line-hight-base         :1.5;

$heading-margin-y       : 50px;



h1, .h1 {
  font-style: normal;
  font-weight: bold;
  font-size: $h1-size;
  line-height: 50px;
  letter-spacing: 0.02em;
  color: $black;
}

h2, .h2 {
  font-style: normal;
  font-weight: normal;
  font-size: $h2-size;
  line-height: 45px;
  letter-spacing: 0.02em;
}

h3, .h3 {
  font-style: normal;
  font-weight: bold;
  font-size: $h3-size;
  line-height: 43px;
  letter-spacing: 0.02em;
  @include breakpoint('small') {
    font-size: $h3-sm-size;
  }
}

h4, .h4 {
  font-style: $h4-size;
  font-weight: normal;
  font-size: $h4-size;
  line-height: 46px;
  letter-spacing: 0.02em;
}

h5, .h5 {
  font-style: normal;
  font-weight: bold;
  font-size: $h5-size;
  line-height: 35px;
  letter-spacing: 0.02em;
  color: $black;
  @include breakpoint('small') {
    font-size: 22px;
  }
}

p, .p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: $black;
}

h6, .h6{
    font-size: $h6-size;
    line-height: 1.5;
}

// 中英夾雜

.zh-en-heading{
  display: inline-flex;
  align-items: center;
  margin-top: $heading-margin-y;
  margin-bottom: $heading-margin-y;

  & > .en-sub{
    font-size: 60%;
    font-family: $eng-font-base;
    display: inline-block;
    margin-left: $font-base-size;
  }
}

// 頁面次要區塊的標題 (eg. 猜你喜歡, 相關報導)
.page-sub-content-heading{
    color: $dark;
}