//排版 flex
.flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.flex-row-end{
    justify-content: end;
}

//text align 系列
.text-center{
    text-align: center;
}
.text-end{
    text-align: end;
}

//bg