// colors
$main-bg-color          :  #E5E5E5;
$primary                :  #FF9E12;
$secondary              :  #E84228;
$white                  :  #FFFFFF;
$light                  :  #D3D3D3;


//內文
$MaxWidth               : 1000px;


//區塊的padding, margin
$header-text-padding-y  : 144px;
$column-padding-x       : 15px;
$content-row-margin-x   : -15px; //消除區塊內的單篇文章欄位 padding