@import './reset';
@import './colors';
@import './fonts';
@import './layout';
@import './button';
@import './helpers';




$hero-height     : 500px;



//大區塊 & 大區塊之間/ 區塊內的各部分邊界
$section-margin-y       : 70px; //各個大區塊的上下邊界
$border-text-margin-y   : 65px;
$heading-margin-y       : 50px; //報導標題
$in-body-margin-y       : 30px; //內文局部區塊間距調整
$page-bottom-margin-y   : 100px;

// 正文
*{
    box-sizing: border-box;
}

body{
    background-color: $white;
    color: $black;
    line-height: $line-hight-base;
    font-family: $font-base ; //@fonts
}

//header
.top-pagination{
    margin-top: 20px;
    margin-bottom: 20px;
}

.hero{
    width: 100%;
    height: $hero-height;
}

.hero > .hero-text {
    padding-top: $header-text-padding-y;
    padding-bottom: $header-text-padding-y;
    text-align: center;
}

.page-article-main{
    margin-top: $section-margin-y;
    margin-bottom: $section-margin-y;

    & .zh-en-heading{
        line-height: 52px;
    }
}

@media (max-width: 767px){
    .page-article-main{
        margin-top: $in-body-margin-y;
        margin-bottom: $in-body-margin-y;
    }
}

//雙欄

.twoCol-aside{
    overflow-y: hidden;
}


//單篇報導

/* 報導資訊欄*/
.report{
    & .twoCol-main{
        padding-right: 30px;
        }
    
        @media(max-width: 767px){
            & .twoCol-main{
                padding-right: 0px;
            }
        }

    & .twoCol-top {
        margin-bottom: $heading-margin-y;
    }

    & .heading-marker .main::before{
        background-color: $secondary;
    }

    & .heading-marker .sub::before{
       background-image: linear-gradient(transparent 50%, $primary 50%);
    }

    //報導區塊 main, aside 寬度
    & .preface{
        width: 100%;
        margin-bottom: $in-body-margin-y;
        border-radius: 3px;
        background-color: $light;
        padding: 50px 30px;
    }
}

.report-category{
    color: $primary;
    padding-bottom: $border-text-margin-y;
}

.report-info{
    display: flex;
    padding-top: $in-body-margin-y;

    & .text-tag{
        width: auto;
    }
}

.report-makers{
    display: inline-flex;
    margin-left: auto;

    & p{
        color: $dark;
        padding-left: 8px;
        
    }
}

/* 報導正文 */


.report-img {
        display: block;
        width: 100%;
        margin-bottom: $in-body-margin-y;
}

.report-text {
    padding-top     : $in-body-margin-y;
    padding-bottom  : $in-body-margin-y;
    & > p{
        margin-bottom:  $in-body-margin-y;
    }

    & > h2 {
        font-weight: bold;
        margin-bottom:  $in-body-margin-y;
    }
    & > h3{
        color: $dark;
        margin-bottom:  $in-body-margin-y;
    }
}


//專案回饋

.project-feedback h4{
        font-size: $h3-sm-size;
        border-color: $primary;
        margin-bottom: $in-body-margin-y;
}

.project-feedback .border-bt{
    border-color: $primary;
}

.feedback-content{ 
    & li{
    padding-top: $in-body-margin-y ;
    padding-bottom: $in-body-margin-y;
    text-align: center;
    cursor: pointer;
        & img{
            display: block;
            width: 100%;
            height: 224px;
            margin-bottom: 20px;
        }
    }
}


/**

側邊欄位

**/

//藝術家、提案者

.artist{
        padding: 35px 35px 50px 35px;
        background-color: $light;
}

.artist-top {
    margin-bottom: $in-body-margin-y;
    
    & figure{
        margin-bottom: 15px;
    }
    & figure img{
        display: block;
        width: 120px;
        height: 120px;
        border-radius: 50%;
    }
}

.artist-type{
        font-size: $sub-text-size;
        display: flex;
        justify-content: center;
        align-items: center;

    & li::after{
        content: '/';
        padding: 3px;
    }
    & li:last-child::after{
        content: ''
    }
}

.artist-intro{
    margin-bottom: $in-body-margin-y;
}

.related-projects-body{
    overflow-y: auto;
    padding: 5px 7px;
    
}


// 相關專案


.related-project-item{
    padding: 30px;
    border: $light solid 1px;
    margin-bottom: 50px;

    & .donate-status{
        display: flex;
        justify-content: center;
        margin-bottom: 50px;

        & div{
            padding-right: 15px;
        }

        & .h3{
            font-weight: bold;
            text-align: center;
            margin-bottom: 15px;
        }
    }
    & .donate-status .progress{
        color: $secondary;
    }
}


/*

####

頁面次要區塊

####

*/
.page-sub-content{
    & h5{
        color: $dark;
    }
}

//文章磚塊

.post-tile{
    height: 360px;
    display: flex;
    flex-direction: column;
    cursor: pointer;

    & .video-tag{
        color: $white;
        background: $primary;
    }

    & .post-tile-date{
        color: $dark;
    }

    & .video-post-btn::after{
        border-width: 20px 0 20px 40px;
        border-color: transparent transparent transparent $primary;
    }
}

.post-tile-img{
        width: 100%;
        object-fit: cover;
        object-position: center center;
}

.post-tile-title{
        font-size: $h6-size;
        font-weight: bold;
        color: $dark;
        margin-top: 20px;
}

.post-tile-info{
        display: flex;
        align-items: center;
        color: $dark;
        margin-top: auto;
}


@media (max-width: 767px){
    .post-tile{
        height: auto;
        margin-bottom: 30px;
    }
}

.footer-ad{
    padding-top: $in-body-margin-y;
    padding-bottom: $in-body-margin-y;
    display: flex;
    justify-content: center;
}

@media(max-width: 767px){
    .footer-ad{
        padding-top: 0;
        padding-bottom: 0;
    }
}